# INDEX #
#########
index.html

# GULP #
########
gulpfile.js

# SASS #
########
.sass-cache
.sass-cache/*
*.map

# NODE MODULES #
################
node_modules

# DIST DIRECTORY #
##################
dist

# GITLAB CI/CD #
################
.gitlab-ci.yml