.side-nav {
  background-color: rgb(170, 170, 170);
  color: rgb(40, 40, 40);
  height: 100vh;
  position: fixed;
  width: 230px;
  z-index: 99;
  &__header {
    position: relative;
    height: 150px;
  }
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__nav {
    display: block;
    padding: 15px 20px;
    &--active {
      background-color: rgb(220, 220, 220);
      color: rgb(40, 40, 40);
    }
  }
  &__nav-icon {
    display: inline-block;
    padding-right: 10px;
    width: 20px;
  }
}