<div class="side-nav">
  <div class="side-nav__scroll-wrapper">
    <div class="side-nav__header">
      <div class="side-nav__logo">
        Super Emak
      </div>      
    </div>
    <a class="side-nav__nav" ui-sref="home" ui-sref-active="side-nav__nav--active">
      <span class="side-nav__nav-icon">H</span>Home
    </a>
    <a class="side-nav__nav" ui-sref="supplier" ui-sref-active="side-nav__nav--active">
    <span class="side-nav__nav-icon">S</span>Supplier
    </a>
    <a class="side-nav__nav" ui-sref="jobseeker" ui-sref-active="side-nav__nav--active">
      <span class="side-nav__nav-icon">J</span>Jobseeker
    </a>
    <a class="side-nav__nav" ui-sref="categories" ui-sref-active="side-nav__nav--active">
      <span class="side-nav__nav-icon">C</span>Categories
    </a>
    <a class="side-nav__nav" ui-sref="jobs" ui-sref-active="side-nav__nav--active">
      <span class="side-nav__nav-icon">J</span>Jobs
    </a>
    <a class="side-nav__nav" href="#">
      <span class="side-nav__nav-icon">L</span>Logout
    </a>
  </div>
</div>