<navbar></navbar>
<side-nav></side-nav>
<div class="main__wrapper">
        <div class="main">
            <h2 class="main__title">Seeker</h2>
            <div class="seeker-edit__wrapper">
                <div class="seeker-edit">
                    <div class="seeker-edit__content-wrapper">
                        <h3 class="seeker-edit__content-title">Edit Seeker</h3>
                        <div class="seeker-edit__content">
                            <form action="" method="post" class="seeker-edit__form" enctype="multipart/form-data">
                                <div class="seeker-edit__input-group">
                                    <label class="seeker-edit__input-label">Name</label>
                                    <input type="text" class="seeker-edit__input">
                                </div>
                                <div class="seeker-edit__input-group">
                                    <label class="seeker-edit__input-label">Username</label>
                                    <input type="text" class="seeker-edit__input">
                                </div>
                                <div class="seeker-edit__input-group">
                                    <label class="seeker-edit__input-label">Phone Number</label>
                                    <input type="text" class="seeker-edit__input">
                                </div>
                                <div class="seeker-edit__input-group">
                                    <label class="seeker-edit__input-label">Password</label>
                                    <input type="text" class="seeker-edit__input">
                                </div>
                                <div class="seeker-edit__input-group">
                                    <label class="seeker-edit__input-label">Email</label>
                                    <input type="text" class="seeker-edit__input">
                                </div>
                                <div class="seeker-edit__input-group">
                                    <label class="seeker-edit__input-label">Photo</label>
                                    <input type="file" class="seeker-edit__input">
                                </div>
                                <div class="seeker-edit__input-group">
                                    <label class="seeker-edit__input-label">Address</label>
                                    <textarea class="seeker-edit__input"></textarea>
                                </div>
                                <div class="seeker-edit__button-group">
                                    <button class="seeker-edit__button seeker-edit__button--padding-lg seeker-edit__button--danger" type="reset">
                                        <span class="seeker-edit__button-icon seeker-edit__button-icon--margin-sm"><i class="fa fa-times"></i></span>
                                        Cancel
                                    </button>
                                    <button class="seeker-edit__button seeker-edit__button--padding-lg seeker-edit__button--success seeker-edit__button--margin-x-sm" type="submit">
                                        <span class="seeker-edit__button-icon seeker-edit__button-icon--margin-sm"><i class="fa fa-save"></i></span>
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>