<navbar></navbar>
<side-nav></side-nav>
<div class="main__wrapper">
    <div class="main">
        <h2 class="main__title">Supplier</h2>
        <div class="supplier-edit__wrapper">
            <div class="supplier-edit">
                <div ng-if="!vm.isEditing" class="supplier-edit__content-wrapper">
                    <h3 class="supplier-edit__content-title">Edit Supplier</h3>
                    <div class="supplier-edit__content">
                        <form ng-submit="vm.editSupplier()" class="supplier-edit__form" enctype="multipart/form-data">
                            <div class="supplier-edit__col supplier-edit__col--50">
                                <div class="supplier-edit__input-group">
                                    <label class="supplier-edit__input-label">Name</label>
                                    <input ng-model="vm.name" type="text" class="supplier-edit__input" required>
                                </div>
                                <div class="supplier-edit__input-group">
                                    <label class="supplier-edit__input-label">Email</label>
                                    <input ng-model="vm.email" type="email" class="supplier-edit__input" required>
                                </div>
                                <div class="supplier-edit__input-group">
                                    <label class="supplier-edit__input-label">Phone Number</label>
                                    <input ng-model="vm.phone" class="supplier-edit__input" type="text" required>
                                </div>
                                <div class="supplier-edit__input-group">
                                    <label class="supplier-edit__input-label">Company Profile</label>
                                    <textarea ng-model="vm.company_profile" class="supplier-edit__input" required></textarea>
                                </div>
                                <div class="supplier-edit__input-group">
                                    <label class="supplier-edit__input-label">Company Address</label>
                                    <textarea ng-model="vm.company_address" class="supplier-edit__input" required></textarea>
                                </div>
                            </div>
                            <div class="supplier-edit__col supplier-edit__col--50">
                                <div class="supplier-edit__input-group">
                                    <label class="supplier-edit__input-label">Username</label>
                                    <input ng-model="vm.username" type="text" class="supplier-edit__input" required>
                                </div>
                                <div class="supplier-edit__input-group">
                                    <label class="supplier-edit__input-label">Password</label>
                                    <input ng-model="vm.password" type="password" class="supplier-edit__input" required>
                                </div>
                                <div class="supplier-edit__input-group">
                                    <label class="supplier-edit__input-label">Photo</label>
                                    <input ng-model="vm.photo" type="file" class="supplier-edit__input" base-sixty-four-input accept="image/*" required>
                                    <img ng-if="vm.photo.base64" ng-src="data:{{ vm.photo.filetype }};base64,{{ vm.photo.base64 }}" style="height: 75px; margin-top: 18px;" alt="Photo">
                                    <img ng-if="vm.photo.url && !vm.photo.base64" ng-src="{{vm.photo.url}}" style="height: 75px; margin-top: 18px;" alt="Photo">
                                </div>
                            </div>
                            <div class="supplier-edit__button-group">
                                <a ui-sref="supplier">
                                    <button class="supplier-edit__button supplier-edit__button--padding-lg supplier-edit__button--danger" type="reset">
                                        <span class="supplier-edit__button-icon supplier-edit__button-icon--margin-sm">
                                            <i class="fa fa-times"></i>
                                        </span>
                                        Cancel
                                    </button>
                                </a>
                                <button class="supplier-edit__button supplier-edit__button--padding-lg supplier-edit__button--success supplier-edit__button--margin-x-sm"
                                    type="submit">
                                    <span class="supplier-edit__button-icon supplier-edit__button-icon--margin-sm">
                                        <i class="fa fa-save"></i>
                                    </span>
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div ng-if="vm.isEditing" class="supplier-edit__content-wrapper">
                    Loading....
                </div>
            </div>
        </div>
    </div>
</div>