<div class="navbar__wrapper">
    <div class="navbar" role="navigation">
        <div class="navbar__menu-btn" rel="menu-btn" ng-click="vm.openSideBar()"></div>
        <div class="navbar__logo-wrapper">
            <a ui-sref="dashboard" class="navbar__logo" title="Super Emak">
                <img ng-src="./src/assets/img/logo-letter.png" alt="Super Emak">
            </a>
        </div>
        <div class="navbar__nav-wrapper">
            <a ui-sref="#" class="navbar__nav"><i class="fa fa-sign-out"></i>Logout</a>
        </div>
    </div>
</div>