.benefits {
  margin-top: 60px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  &__title {
    color: rgb(40, 40, 40);
    font-weight: 700;
    font-size: 22px;
    padding: 10px;
    text-align: center;
  }
  @media (min-width: 1024px) {
    width: 1024px;
  }
  &__wrapper {
    background-color: rgb(238, 238, 238);
    padding: 1px;//prevent collapsing margin
  }
  &__subtitle {
    color: rgb(40, 40, 40);
    font-size: 20px;
    padding: 20px 10px 10px;
    text-align: center;
  }
  &__item-wrapper {
    display: flex;
    padding: 10px;
    @media (max-width: 768px) {
      display: block;
    }
  }
  &__item {
    flex: 1;
    flex-basis: 50%;
    @media (max-width: 768px) {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 250px;
    }
  }
  &__item-icon {
    padding-top: 10px;
    position: relative;
    &::before {
      border: 2px solid dodgerblue;
      border-radius: 50%;
      content: '';
      display: block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 80px;
    }
  }
  &__item-title {
    color: rgb(110, 110, 110);
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
  }
  &__item-description {
    color: rgb(110, 110, 110);
    padding: 10px;
    text-align: center;
  }
}