* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0; }

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px; }

body {
  background-color: transparent; }

a {
  text-decoration: none; }

.navbar {
  background-color: white;
  color: #282828;
  display: -webkit-flex;
  display: flex;
  position: relative;
  height: 100%;
  box-shadow: inset 0 -3px #eceff1;
  padding: 0 24px;
  left: 50%;
  transform: translateX(-50%); }
  @media screen and (max-width: 960px) {
    .navbar {
      padding: 0 14px; } }
  @media screen and (max-width: 600px) {
    .navbar {
      padding: 0 8px; } }
  .navbar__wrapper {
    z-index: 1;
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    background-color: transparent; }
  .navbar__logo-wrapper {
    display: -webkit-flex;
    display: flex;
    flex: 1;
    position: relative; }
  .navbar__logo {
    display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 24px;
    width: 125px;
    position: relative; }
    .navbar__logo img {
      display: block;
      width: 100%; }
  .navbar__menu-btn {
    background-color: transparent;
    display: none;
    cursor: pointer; }
    @media screen and (max-width: 960px) {
      .navbar__menu-btn {
        display: -webkit-inline-flex;
        display: inline-flex;
        align-self: center;
        align-content: center;
        align-items: center;
        margin: 0 14px 0 0;
        padding: 10px; } }
    @media screen and (max-width: 600px) {
      .navbar__menu-btn {
        display: -webkit-inline-flex;
        display: inline-flex;
        align-self: center;
        align-content: center;
        align-items: center;
        margin: 0 6px 0 0;
        padding: 10px; } }
    .navbar__menu-btn:active {
      -webkit-transition-duration: .3s;
      transition-duration: .3s;
      background-color: rgba(50, 50, 50, 0.3); }
    .navbar__menu-btn::after {
      top: 50%;
      left: 50%;
      height: 20px;
      width: 20px;
      content: '';
      background-image: url("../img/menu-btn.svg");
      background-size: cover; }
  .navbar__nav-wrapper {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative; }
  .navbar__nav {
    align-self: center;
    font-size: .9rem;
    line-height: .9rem;
    color: #282828; }
    .navbar__nav i {
      margin: 5px; }

.sidebar {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 100%;
  background-color: whitesmoke; }
  @media screen and (max-width: 960px) {
    .sidebar {
      z-index: 202;
      width: 240px; } }
  .sidebar__wrapper {
    margin-top: 56px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
    background-color: transparent; }
    @media screen and (max-width: 960px) {
      .sidebar__wrapper {
        visibility: hidden;
        z-index: 200;
        margin-top: 0;
        width: 0;
        background-color: rgba(30, 30, 30, 0.3); }
        .sidebar__wrapper--open {
          visibility: visible;
          width: 100%; } }
  .sidebar__header {
    display: none;
    top: 0;
    left: 0;
    width: 100%; }
    @media screen and (max-width: 960px) {
      .sidebar__header {
        display: -webkit-flex;
        display: flex;
        min-height: 56px;
        box-shadow: inset 0 -3px #eceff1;
        padding: 0 14px; } }
    @media screen and (max-width: 600px) {
      .sidebar__header {
        display: -webkit-flex;
        display: flex;
        min-height: 56px;
        box-shadow: inset 0 -3px #eceff1;
        padding: 0 8px; } }
  .sidebar__menu-btn {
    display: -webkit-inline-flex;
    display: inline-flex;
    align-self: center;
    align-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    padding: 10px; }
    @media screen and (max-width: 900px) {
      .sidebar__menu-btn {
        margin: 0 14px 0 0; } }
    @media screen and (max-width: 600px) {
      .sidebar__menu-btn {
        margin: 0 6px 0 0; } }
    .sidebar__menu-btn:active {
      -webkit-transition-duration: .3s;
      transition-duration: .3s;
      background-color: rgba(50, 50, 50, 0.3); }
    .sidebar__menu-btn::after {
      top: 50%;
      left: 50%;
      height: 20px;
      width: 20px;
      content: '';
      background-image: url("../img/menu-btn.svg");
      background-size: cover; }
  .sidebar__logo-wrapper {
    display: -webkit-flex;
    display: flex;
    flex: 1;
    position: relative; }
  .sidebar__logo {
    display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 24px;
    width: 125px;
    position: relative; }
    .sidebar__logo img {
      display: block;
      width: 100%; }
  .sidebar__content {
    margin: 0;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto; }
  .sidebar__nav-wrapper {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 12px 0; }
  .sidebar__nav {
    color: #282828;
    padding: 0 24px;
    display: inline-flex;
    align-items: center;
    height: 40px;
    width: 100%;
    font-size: .9rem;
    line-height: 1rem; }
    @media screen and (max-width: 960px) {
      .sidebar__nav {
        padding: 0 14px; } }
    @media screen and (max-width: 600px) {
      .sidebar__nav {
        padding: 0 8px; } }
    .sidebar__nav--active {
      font-weight: 800; }
      .sidebar__nav--active .sidebar__nav-icon {
        color: rgba(213, 0, 0, 0.9); }
    .sidebar__nav:hover {
      background-color: rgba(40, 40, 40, 0.09); }
  .sidebar__nav-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
    padding: 4px 4px 4px 0;
    min-width: 35px;
    font-size: 1.34rem;
    color: rgba(40, 40, 40, 0.7); }

.main {
  background-color: transparent;
  height: 100%;
  width: 100%; }
  .main__wrapper {
    margin: 56px 0 0 240px;
    height: 1000px; }

/*# sourceMappingURL=main.css.map */
