* {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-family: Arial, Helvetica, sans-serif; }

a {
  text-decoration: none; }

.navbar {
  background-color: transparent;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%; }
  @media (min-width: 1024px) {
    .navbar {
      width: 1024px; } }
  .navbar--scrolled {
    background-color: white;
    color: #282828; }
  .navbar__wrapper {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    height: 60px;
    z-index: 100; }
    .navbar__wrapper--scrolled {
      background-color: white;
      -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2); }
    .navbar__wrapper--no-shadow {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .navbar__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative; }
  .navbar__logo-img {
    position: relative;
    width: 60px;
    height: 60px; }
    .navbar__logo-img::before {
      background-image: url("../img/logo-img.png");
      background-size: 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 40px;
      height: 100%; }
  .navbar__logo-txt {
    font-size: 20px;
    padding: 18px;
    position: relative;
    right: 0;
    width: 200px;
    height: 60px; }
    .navbar__logo-txt::before {
      background-image: url("../img/logo-txt.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150px;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 200px;
      height: 60px; }
    .navbar__logo-txt--scrolled::before {
      background-image: url("../img/logo-txt--black.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150px;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 200px;
      height: 60px; }
  .navbar__nav {
    color: white;
    font-size: 18px;
    padding: 19.75px;
    width: 170px;
    text-align: center; }
    .navbar__nav--scrolled {
      color: #282828; }
  .navbar__nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media (max-width: 768px) {
      .navbar__nav-wrapper {
        display: none; } }
  .navbar__btn-menu {
    background-color: inherit;
    display: none;
    padding: 21px;
    position: relative;
    right: 15px;
    width: 60px; }
    .navbar__btn-menu::after {
      background-image: url("../img/btn-menu.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 40px;
      height: 40px; }
    .navbar__btn-menu--scrolled::after {
      background-image: url("../img/btn-menu--black.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 40px;
      height: 40px; }
    @media (max-width: 768px) {
      .navbar__btn-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .navbar__btn-menu--not-visible {
          display: none; } }
  .navbar__btn-close {
    background-color: inherit;
    display: none;
    padding: 21px;
    position: relative;
    right: 15px;
    width: 60px; }
    .navbar__btn-close--visible {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .navbar__btn-close::after {
      background-image: url("../img/btn-close.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 40px;
      height: 40px; }
    .navbar__btn-close--scrolled::after {
      background-image: url("../img/btn-close--black.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 40px;
      height: 40px; }

.dropdown {
  background-color: transparent;
  color: white;
  opacity: 0;
  position: fixed;
  top: -165px;
  left: 0;
  width: 100%;
  -webkit-transition: top .3s, opacity .2s;
  transition: top .3s, opacity .2s;
  z-index: 99; }
  .dropdown--scrolled {
    background-color: white;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
    color: #282828; }
  .dropdown--visible {
    opacity: 1;
    top: 60px; }
  .dropdown__nav {
    color: white;
    display: block;
    font-size: 18px;
    padding: 17px;
    text-align: center; }
    .dropdown__nav--scrolled {
      color: black; }

.header {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%; }
  @media (min-width: 1024px) {
    .header {
      width: 1024px; } }
  .header__wrapper {
    background-attachment: fixed;
    background-image: url("../img/header.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh; }
    @media (min-width: 1440px) {
      .header__wrapper {
        background-position-y: top;
        height: 800px; } }
  .header__mask {
    background-attachment: fixed;
    background-image: url("../img/header-mask.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 1; }
    @media (min-width: 1440px) {
      .header__mask {
        background-position-y: top;
        height: 800px; } }
  .header__heading {
    color: white;
    font-size: 32px;
    font-weight: 500;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    width: 60%; }
    @media (max-width: 425px) {
      .header__heading {
        top: 40%;
        width: 80%; } }
  .header__btn-download {
    background-color: transparent;
    display: block;
    position: relative;
    top: 52%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 170px;
    height: 50px; }
    @media (max-width: 425px) {
      .header__btn-download {
        top: 42%; } }
  .header__btn-download-img {
    width: 170px;
    height: 50px; }

.intro {
  margin-top: 60px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  @media (min-width: 1024px) {
    .intro {
      width: 1024px; } }
  .intro__wrapper {
    background-color: white;
    padding: 1px;
    width: 100%; }
  .intro__content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px; }
    @media (max-width: 768px) {
      .intro__content-wrapper {
        display: block; } }
  .intro__content-img {
    background-image: url("../img/intro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 300px;
    padding: 10px; }
  .intro__content-txt-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 300px;
    padding: 30px;
    vertical-align: middle; }
    @media (max-width: 768px) {
      .intro__content-txt-wrapper {
        height: 130px;
        padding: 0; } }
    @media (max-width: 425px) {
      .intro__content-txt-wrapper {
        height: 220px;
        padding: 0; } }
    @media (max-width: 375px) {
      .intro__content-txt-wrapper {
        height: 250px;
        padding: 0; } }
    @media (max-width: 325px) {
      .intro__content-txt-wrapper {
        height: 300px;
        padding: 0; } }
  .intro__content-txt {
    color: #6e6e6e;
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.model {
  margin-top: 60px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .model__title {
    color: #282828;
    font-weight: 700;
    font-size: 22px;
    padding: 10px;
    text-align: center; }
  @media (min-width: 1024px) {
    .model {
      width: 1024px; } }
  .model__wrapper {
    background-color: white;
    padding: 1px; }
  .model__step-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    position: relative; }
    .model__step-wrapper::before {
      background-color: dodgerblue;
      content: '';
      display: block;
      position: absolute;
      top: 60px;
      left: 12.5%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 75%;
      height: 3px; }
    @media (max-width: 768px) {
      .model__step-wrapper {
        display: block; }
        .model__step-wrapper::before {
          display: none; } }
  .model__step {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    @media (max-width: 768px) {
      .model__step {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 250px; } }
  .model__circle {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    height: 100px;
    z-index: 98; }
    .model__circle::before {
      background-color: white;
      border: 3px solid dodgerblue;
      border-radius: 50%;
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 80px;
      height: 80px; }
    .model__circle--1::after {
      color: dodgerblue;
      content: "1";
      display: block;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .model__circle--2::after {
      color: dodgerblue;
      content: "2";
      display: block;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .model__circle--3::after {
      color: dodgerblue;
      content: "3";
      display: block;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .model__circle--4::after {
      color: dodgerblue;
      content: "4";
      display: block;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .model__description-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .model__description {
    color: dodgerblue;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 10px;
    text-align: center; }

.benefits {
  margin-top: 60px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .benefits__title {
    color: #282828;
    font-weight: 700;
    font-size: 22px;
    padding: 10px;
    text-align: center; }
  @media (min-width: 1024px) {
    .benefits {
      width: 1024px; } }
  .benefits__wrapper {
    background-color: #eeeeee;
    padding: 1px; }
  .benefits__subtitle {
    color: #282828;
    font-size: 20px;
    padding: 20px 10px 10px;
    text-align: center; }
  .benefits__item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px; }
    @media (max-width: 768px) {
      .benefits__item-wrapper {
        display: block; } }
  .benefits__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
    @media (max-width: 768px) {
      .benefits__item {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 250px; } }
  .benefits__item-icon {
    padding-top: 10px;
    position: relative; }
    .benefits__item-icon::before {
      border: 2px solid dodgerblue;
      border-radius: 50%;
      content: '';
      display: block;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 80px;
      height: 80px; }
  .benefits__item-title {
    color: #6e6e6e;
    font-size: 20px;
    padding-top: 10px;
    text-align: center; }
  .benefits__item-description {
    color: #6e6e6e;
    padding: 10px;
    text-align: center; }

.download {
  margin-top: 60px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .download__title {
    color: #282828;
    font-weight: 700;
    font-size: 22px;
    padding: 10px;
    text-align: center; }
  @media (min-width: 1024px) {
    .download {
      width: 1024px; } }
  .download__wrapper {
    padding: 1px; }
  .download__subtitle {
    color: #282828;
    font-size: 20px;
    padding: 20px 10px 10px;
    text-align: center; }
  .download__btn-download {
    background-color: transparent;
    display: block;
    margin: 30px 0 70px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 204px;
    height: 60px; }
    @media (max-width: 425px) {
      .download__btn-download {
        top: 42%; } }
  .download__btn-download-img {
    width: 100%;
    height: 100%; }

.footer {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .footer__title {
    color: white;
    font-size: 16px;
    padding: 10px;
    position: relative;
    text-align: center; }
  @media (min-width: 1024px) {
    .footer {
      width: 1024px; } }
  .footer__wrapper {
    background-color: #166bf3;
    height: 100px;
    padding: 1px; }
