<div class="main__wrapper">
    <div class="main">
        <h2 class="main__title">Supplier</h2>
        <div class="supplier-add__wrapper">
            <div class="supplier-add">
                <div class="supplier-add__content-wrapper">
                    <h3 class="supplier-add__content-title">Add Supplier</h3>
                    <div class="supplier-add__content">
                        <form action="" method="post" class="supplier-add__form" enctype="multipart/form-data">
                            <div class="supplier-add__input-group">
                                <label class="supplier-add__input-label">Name</label>
                                <input type="text" class="supplier-add__input">
                            </div>
                            <div class="supplier-add__input-group">
                                <label class="supplier-add__input-label">Username</label>
                                <input type="text" class="supplier-add__input">
                            </div>
                            <div class="supplier-add__input-group">
                                <label class="supplier-add__input-label">Phone Number</label>
                                <input type="text" class="supplier-add__input">
                            </div>
                            <div class="supplier-add__input-group">
                                <label class="supplier-add__input-label">Password</label>
                                <input type="text" class="supplier-add__input">
                            </div>
                            <div class="supplier-add__input-group">
                                <label class="supplier-add__input-label">Email</label>
                                <input type="text" class="supplier-add__input">
                            </div>
                            <div class="supplier-add__input-group">
                                <label class="supplier-add__input-label">Photo</label>
                                <input type="file" class="supplier-add__input">
                            </div>
                            <div class="supplier-add__input-group">
                                <label class="supplier-add__input-label">Company Profile</label>
                                <textarea class="supplier-add__input"></textarea>
                            </div>
                            <div class="supplier-add__input-group">
                                <label class="supplier-add__input-label">Company Address</label>
                                <textarea class="supplier-add__input"></textarea>
                            </div>
                            <div class="supplier-add__button-group">
                                <button class="supplier-add__button supplier-add__button--padding-lg supplier-add__button--danger" type="reset">
                                    <span class="supplier-add__button-icon supplier-add__button-icon--margin-sm"><i class="fa fa-times"></i></span>
                                    Cancel
                                </button>
                                <button class="supplier-add__button supplier-add__button--padding-lg supplier-add__button--success supplier-add__button--margin-x-sm" type="submit">
                                    <span class="supplier-add__button-icon supplier-add__button-icon--margin-sm"><i class="fa fa-save"></i></span>
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>