<div class="side-nav__wrapper">
    <div class="side-nav">
        <div class="side-nav__header">
            <div class="side-nav__menu-btn" rel="menu-btn"></div>
            <div class="side-nav__logo-wrapper">
                <a href="#" class="side-nav__logo" title="Super Emak">
                    <img src="app/assets/img/logo-letter.png" alt="Super Emak">
                </a>
            </div>
        </div>
        <div class="side-nav__content">
            <div class="side-nav__nav-wrapper">
                <a href="#" class="side-nav__nav side-nav__nav--active"><div class="side-nav__nav-icon"><i class="fa fa-home"></i></div> Dashboard</a>
                <a href="#" class="side-nav__nav"><div class="side-nav__nav-icon"><i class="fa fa-female"></i></div> Seeker</a>
                <a href="#" class="side-nav__nav"><div class="side-nav__nav-icon"><i class="fa fa-users"></i></div> Supplier</a>
                <a href="#" class="side-nav__nav"><div class="side-nav__nav-icon"><i class="fa fa-tags"></i></div> Categories</a>
                <a href="#" class="side-nav__nav"><div class="side-nav__nav-icon"><i class="fa fa-briefcase"></i></div> Jobs</a>
            </div>
        </div>
    </div>
</div>