<div class="login">
  <div class="login__title">Super Emak</div>
  <div class="login__subtitle">Login</div>
  <form ng-submit="vm.login()">
    <div class="login__input-group">
      <input class="login__input-field" ng-model="vm.username" name="username" type="text" placeholder="Username" required>
    </div>
    <div class="login__input-group">
      <input class="login__input-field" ng-model="vm.password" name="password" type="password" placeholder="Password" required>
    </div>
    <button class="login__button" type="submit">Login</button>
  </form>
</div>