* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; }

html, input, textarea, button {
  font-family: 'Roboto', Arial, sans-serif; }

body {
  margin: 0;
  padding: 0; }

.view-wrapper {
  padding-left: 230px; }

a {
  color: #282828;
  text-decoration: none; }
  a:visited {
    color: inherit; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: transparent;
  padding: 0 24px;
  height: 100%;
  width: 100%; }
  @media screen and (max-width: 600px) {
    .main {
      padding: 0 16px; } }
  .main__wrapper {
    margin: 56px 0 0 240px;
    padding: 12px 0;
    position: relative;
    width: calc(100% - 240px);
    min-height: calc(100% - 56px);
    overflow-y: auto;
    background-color: transparent; }
    @media screen and (max-width: 960px) {
      .main__wrapper {
        margin-left: 0px;
        width: 100%; } }
